<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto px-lg-4 mt-lg-5 pt-lg-4">
                
                <form class="form-group" [formGroup]="studentEditFormgroup">
     
                    <div class="form-group">
                        <label for="name">Name<span class="required ml-1 text-danger font-weight-bold">*</span></label>
                        <input type="text"  formControlName="name" class="form-control">
                                     
                    </div>

                    <div class="form-group">
                        <label for="mobileNumber">Mobile Number<span class="required ml-1 text-danger font-weight-bold">*</span></label>
                        <input type="number"  formControlName="mobileNumber" class="form-control">
                        
                    </div>
                    <div class="form-group">
                            <label for="emailId">Email Address<span class="required ml-1 text-danger font-weight-bold">*</span></label>
                            <input type="email"  formControlName="emailId" class="form-control">
                            
                        </div>
                    <div class="form-group">
                        <label for="courseEnrolled">Course Enrolled<span class="required ml-1 text-danger font-weight-bold">*</span></label>
                        <input type="text" formControlName="courseEnrolled"  class="form-control">
                        
                    </div>
                    <div class="form-group">
                        <label for="feesStatus">Fees Status<span class="required ml-1 text-danger font-weight-bold">*</span></label>
                        <input type="text" formControlName="feesStatus" class="form-control">
                        
                    </div>
                    <div class="form-group pt-3 pb-4">
                    
                    <button (click)="StudentEdit()"  class="btn btn-primary" style="width: 430px;"> Save Changes</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</main>
