<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto px-lg-4 mt-lg-5 pt-lg-4">
            
            <a class="text-center d-block mb-5 logo_text" ><h2> Add Student</h2></a>
            <form class="form-group" [formGroup]="studentData" (ngSubmit)="addStudent()">
                <div class="row">
                    <div class="col-sm-6">
                            <div class="form-group">
                                    <label for="name">Name<span class="required ml-1 text-danger font-weight-bold">*</span></label>
                                    <input type="text" value="name" formControlName="name" class="form-control ">
                                    <div class="invalid-feedback">This field is required</div>
                                </div>
                    </div>
                   
                    <div class="col-sm-6">
                            <div class="form-group">
                                    <label for="mobileNumber">MobileNumber<span class="required ml-1 text-danger font-weight-bold">*</span></label>
                                    <input type="number" value="963258741" formControlName="mobileNumber" class="form-control">
                                    <div class="invalid-feedback">This field is required</div>
                                </div>
                    </div>
                </div>
                <div class="form-group">
                        <label for="emailId">Email Address<span class="required ml-1 text-danger font-weight-bold">*</span></label>
                        <input type="email" value="abc@gmail.com" formControlName="emailId" class="form-control">
                        <div class="invalid-feedback">This field is required</div>
                    </div>
                <div class="form-group">
                    <label for="courseEnrolled">Course Enrolled<span class="required ml-1 text-danger font-weight-bold">*</span></label>
                    <input type="text" formControlName="courseEnrolled" value="web" class="form-control">
                    <div class="invalid-feedback">This field is required</div>
                </div>

                <div class="form-group">
                    <label for="feesStatus">Fees Status<span class="required ml-1 text-danger font-weight-bold">*</span></label>
                    <input type="text" formControlName="feesStatus" value="paid/unpaid" class="form-control">
                    <div class="invalid-feedback">This field is required</div>
                </div>
                <div class="form-group pt-3 pb-4">
               
                <button type="submit" (click)="addStudent()"  class="btn btn-primary">Create Student</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
